html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #d9dbdb;
	background: -moz-linear-gradient(top, rgba(240,242,242,1) 0%, rgba(217,219,219,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240,242,242,1)), color-stop(100%, rgba(217,219,219,1)));
	background: linear-gradient(top, rgba(240,242,242,1) 0%, rgba(217,219,219,1) 100%);
	background-attachment: fixed;
	overflow: hidden;
}

/*general*/
.btn-right {
	float: right;
	margin: 30px 8px 0 0;
}

.slider-container {
	margin: 6px 0;
}

.label-p {
	margin-top: 3px;
	float: right;
}

/*webgl viewer*/
#viewer {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 60%;
	height: 100%;
}

/*right content*/
#right-content {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 100%;
	z-index: 100;
}

#web-title {
	padding-right: 2px;
}

#toolbar {
	padding-left: 20px;
}

.tool-icon {
	margin: 0 0 15px 23px;
}

/*one seed tool*/
.tools {
	position: fixed;
	top: 0px;
	right: 100px;
	width: 250px;
	height: 100%;
	padding: 60px 10px 0 10px;
	overflow: auto;
}
